div {
    background-color: grey;
    margin: auto;
}

a {
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

.nav {
    display: inline;
    align-items: center;
    background-color: rgb(197, 197, 197);
}

.nav-left {
    float: left;
    padding: 5px;
    background-color: rgb(241, 210, 210);
}

.nav-right {
    float: right;
    padding: 5px;
    background-color: rgb(209, 206, 206);
}

#googlelogo {
    text-align: center;
    align-content: center;
    padding-top: 5em;
    padding-bottom: 2em;
    background-color: rgb(197, 197, 197);
}

.search-form {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
}

.search-bar {
    width: 400px;
    border-radius: 25px;
    border-width: thin;
    height: 25px;
    padding: 5px 20px 5px 20px;
}

.submit-button {
    display: inline-flex;
    width: fit-content;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    background-color: #f8f9fa;
    border-width: 1px;
    color:rgb(48, 48, 48);
}

.submit-button:hover {
    border: 5px;
    box-shadow: grey;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(158, 158, 158);
    align-items: center;
}

.footer-left {
    display: flexbox;
    float: left;
    padding: 5px;
}

.footer-right {
    display: flexbox;
    float: right;
    padding: 5px;
}

.footer-option {
    margin: 10px 10px 10px 10px;
}
