div {
    background-color: rgb(255, 255, 255);
    margin: auto;
}

a {
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

.nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
}

.nav-left {
    float: left;
    flex-direction: row;
    vertical-align: middle;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    align-items: left;
}

.nav-right {
    float: right;
    flex-direction: row;
    vertical-align: middle;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    align-items: flex-end;
}

#googlelogo {
    text-align: center;
    align-content: center;
    padding-top: 5em;
    padding-bottom: 2em;
    background-color: rgb(255, 255, 255);
}

.search-form {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
    text-decoration: none;
}

.search-bar {
    width: 400px;
    border-radius: 25px;
    border-width: thin;
    height: 25px;
    padding: 5px 20px 5px 20px;
}

.submit-button {
    border: 0px;
    display: inline-flex;
    width: fit-content;
    flex-direction: row;
    justify-items: center;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    background-color: #f8f9fa;
    border-radius: 3px;
    color:rgb(48, 48, 48);
}

.submit-button:hover {
    display: inline-flex;
    width: fit-content;
    text-align: center;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    background-color: #f8f9fa;
    border-radius: 3px;
    color:rgb(48, 48, 48);
    box-shadow: 0 1px 3px rgb(202, 202, 202);
    border: solid 1px rgb(226, 224, 224);
    text-decoration: none;
}

.footer {
    display: flexbox;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
}

.footer-left {
    display: flexbox;
    float: left;
    padding: 5px;
}

.footer-right {
    display: flexbox;
    float: right;
    padding: 5px;
}

.footer-option {
    margin: 10px 10px 10px 10px;
}
